@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: #008083 ;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.btn:hover {
  background: #FFA500 ;
  color: #fff;
}

.fa-times {
  transform: rotate(180deg);
}

section {
  padding: 3rem 9%;
}

/* header */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #f2f2f2;
  z-index: 1000;
  text-transform: uppercase;
}

.header .navbar {
  display: flex;
  margin-left: auto; /* Ensure navbar is pushed to the right */
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #008083 ;
  font-weight: bold;
}

.header .navbar a:hover {
  color: #FFA500 ;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #008083 ;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #FFA500 ;
}

#menu-btn {
  display: none;
}

/* home */
.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.home .slide .content {
  width: 70rem;
  text-align: center;
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.home .slide .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  padding: 2rem 0;
  text-shadow: 2px 2px 0 #008083; /* Green shadow for edges */
}

.home .slide .content span {
  font-size: 2.5rem;
  color: #cbe9dd;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

/* home */

/* welcome */
.welcome .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.welcome .row .image {
  flex: 1 1 40rem;
}

.welcome .row .image img {
  width: 100%;
  display: block;
}

.welcome .row .content {
  flex: 1 1 50rem;
  padding: 6rem;
}

.welcome .row .content h3 {
  font-size: 2rem;
  padding-top: 1rem;
  color: #008083 ;
  font-weight: bold;
}

.welcome .row .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
}

.ceo__content {
  background-color: #008083;
  color: white;
  padding: 10px;
  width: 73%;
  box-sizing: border-box;
  text-align: center;
  margin-top: -5px;
  margin: auto;
  font-size: 1.5rem;
}

/* Mission */

.mission .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.mission .box-container .box h3 {
  width: 100%;
  background-color: #008083 ;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.mission .box-container .box .content p {
  font-size: 1.4rem;
  height: 200px;
  line-height: 2;
  padding: 1rem;
  text-align: center;
  background-color: #fae6d8;
}

.mission__button {
  margin: auto;
  text-align: center;
  width: 250px;
  display: block;
  margin-top: 2rem;
}

/* units */
.services {
  margin-top: 2rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
  margin-top: 3rem;
}

.services .box-container .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services__img--heading {
  text-align: center;
  font-size: 17px;
  color: #008083;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}

.line__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: #008083 ;
}

.line__text {
  padding: 10px 60px;
  background-color: white;
  border: 2px solid #008083 ;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  color: #FFA500 ;
  font-weight: bold;
}

.services__text {
  margin: auto;
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

/* about */
.about_heading {
  text-align: center;
  color: #008083 ;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 2rem;
}

.about_heading span {
  color: #FFA500 ;
  text-transform: uppercase;
}

.about .about__content {
  font-size: 15px;
  text-align: justify;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 50rem;
  padding: 6rem;
  text-align: justify;
}

.about .row .content p {
  font-size: 1.4rem;
  color: var(--light-black);
  padding: 1rem 0;
  line-height: 2;
}

/* Contact */
.contact_heading {
  text-align: center;
  color: #008083 ;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 2rem;
}

.contact_heading span {
  color: #FFA500 ;
  text-transform: uppercase;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 15px;
  margin-top: 10px;
  color: #008083 ;
  font-weight: bold;
}

.contact .row form {
  flex: 1 1 40rem;
  border: 0.1rem solid #008083 ;
  padding: 2rem;
  border-radius: 10px;
}

.contact .row form h3 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #008083 ;
}

.contact .row form span {
  display: block;
  padding-bottom: 1rem;
  color: #008083 ;
  font-size: 1.6rem;
}

.contact .row form .contact__box {
  width: 100%;
  background: none;
  border-bottom: 0.1rem solid #008083 ;
  font-size: 1.6rem;
  color: #008083 ;
  text-transform: none;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/* Organization */
.team__heading {
  text-align: center;
  color: #008083 ;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 2rem;
}

.team__heading span {
  color: #FFA500 ;
  text-transform: uppercase;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.team__wrapper {
  text-align: center;
  border: 0.1rem solid #008083 ;
}

.team__image {
  position: relative;
  overflow: hidden;
}

.team__image img {
  background: #f2f2f2;
  width: 100%;
}

.team__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.team__content h3 {
  font-size: 15px;
  text-transform: capitalize;
  color: #008083 ;
}

.team__content span {
  font-size: 12px;
  line-height: 2;
  color: #008083 ;
  font-weight: bold;
}

/* Units */

.units .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.units__heading {
  text-align: center;
  color: #008083 ;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 2rem;
}

.units__heading span {
  color: #FFA500 ;
  text-transform: uppercase;
}

.units .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #008083 ;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.units .box-container .box img {
  height: 18rem;
  margin-bottom: 1rem;
}

.units .box-container .box h3 {
  font-size: 2.2rem;
  color: #008083 ;
  text-transform: capitalize;
}

.units .box-container .box .unit__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.units .box-container .box .unit__content p {
  color: #008083 ;
  font-size: 12px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content p {
  margin-bottom: 20px;
  color: #bbbbbb;
  font-size: 1.5rem;
}
.footer-bottom {
  margin-top: 20px;
  border-top: 2px solid #bbbbbb;
  padding-top: 10px;
}

.footer-bottom p {
  color: #bbbbbb;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media (max-width: 1064px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .navbar a {
    font-size: 1.5rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    display: flex;
    flex-direction: column;
  }

  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid #008083 ;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .slide .content {
    width: 50%;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }

  .home .slide .content span {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }

  .home .slide .content span {
    font-size: 2rem;
  }
}
